doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/remote.css')
        script(src='/js/dist/remote.min.js')
    body.
        <div id="filter">
            Filter freq touch pad
        </div>
