doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/remote.css')
        script(src='/javascripts/socket.io.min.js')
        script(src='/javascripts/remote.js')
    body.
        <div id="filter">
            Filter freq touch pad
        </div>
