<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/synth.css">
  </head>
  <body>
    <main role="main" id="synth">
      <h1>{{ title }}</h1>
      <p class="synth-id-label">ID: <span id="synth-id">{{ id }}</span></p>
      <div id="monosyn"></div>
    </main>
    <script src="/js/dist/synth-bundle.js"></script>
  </body>
</html>
