doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/synth.css')
        script(src='/js/dist/synth.min.js')
    body.
        <div id="synth">
            <div id="oscillator1" class="component">
                <h2>Oscillator 1</h2>
                <select id="osc-1" autocomplete="off">
                    <option value="sine">Sine</option>
                    <option value="square" selected>Square</option>
                    <option value="sawtooth">Sawtooth</option>
                    <option value="triangle">Triangle</option>
                </select>
                <p>
                    <input id="osc-1-detune" type="range" min="-50" max="50" step="1" value="-6" autocomplete="off" />
                    <label for="osc-1-detune">Detune</label>
                    <output id="osc-1-detune-output" for="osc-1-detune"></output>
                </p>
            </div>

            <div id="oscillator2" class="component">
                <h2>Oscillator 2</h2>
                <select id="osc-2" autocomplete="off">
                    <option value="sine">Sine</option>
                    <option value="square">Square</option>
                    <option value="sawtooth" selected>Sawtooth</option>
                    <option value="triangle">Triangle</option>
                </select>
                <p>
                    <input id="osc-2-detune" type="range" min="-50" max="50" step="1" value="-10" autocomplete="off" />
                    <label for="osc-2-detune">Detune</label>
                    <output id="osc-2-detune-output" for="osc-2-detune"></output>
                </p>
            </div>

            <div id="filter" class="component">
                <h2>Filter</h2>
                <select id="filter-type">
                    <option value="lowpass" selected>Lowpass</option>
                    <option value="highpass">Highpass</option>
                    <option value="bandpass">Bandpass</option>
                    <option value="lowshelf">Lowshelf</option>
                    <option value="highshelf">Highshelf</option>
                    <option value="peaking">Peaking</option>
                    <option value="notch">Notch</option>
                    <option value="allpass">All Pass</option>
                </select>
                <p>
                    <input id="filter-freq" type="range" min="40" max="12000" step="1" value="12000" autocomplete="off" />
                    <label for="filter-freq">Freq</label>
                    <output id="filter-freq-output" for="filter-freq"></output>
                </p>
                <p>
                    <input id="filter-q" type="range" min="1" max="10" step="0.001" value="1" autocomplete="off" />
                    <label for="filter-q">Q</label>
                    <output id="filter-q-output" for="filter-q"></output>
                </p>
            </div>

            <div id="envolope" class="component">
                <h2>Envolope</h2>
                <p>
                    <input id="env-attack" type="range" min="0" max="2.0" step="0.1" value="0.1" autocomplete="off" />
                    <label for="env-attack">Attack</label>
                    <output id="env-attack-output" for="env-attack"></output>
                </p>
                <p>
                    <input id="env-release" type="range" min="0" max="2.0" step="0.1" value="0.2" autocomplete="off" />
                    <label for="env-release">Release</label>
                    <output id="env-release-output" for="env-release"></output>
                </p>
            </div>

            <div id="keyboard">
                <div class="key" data-id="4"></div>
                <div class="key black" data-id="5"></div>
                <div class="key" data-id="6"></div>
                <div class="key black" data-id="7"></div>
                <div class="key" data-id="8"></div>
                <div class="key" data-id="9"></div>
                <div class="key black" data-id="10"></div>
                <div class="key" data-id="11"></div>
                <div class="key black" data-id="12"></div>
                <div class="key" data-id="13"></div>
                <div class="key black" data-id="14"></div>
                <div class="key" data-id="15"></div>
                <div class="key" data-id="16"></div>
                <div class="key black" data-id="17"></div>
                <div class="key" data-id="18"></div>
                <div class="key black" data-id="19"></div>
                <div class="key" data-id="20"></div>
                <div class="key" data-id="21"></div>
                <div class="key black" data-id="22"></div>
                <div class="key" data-id="23"></div>
                <div class="key black" data-id="24"></div>
                <div class="key" data-id="25"></div>
                <div class="key black" data-id="26"></div>
                <div class="key" data-id="27"></div>
                <div class="key" data-id="28"></div>
                <div class="key black" data-id="29"></div>
                <div class="key" data-id="30"></div>
                <div class="key black" data-id="31"></div>
                <div class="key" data-id="32"></div>
                <div class="key" data-id="33"></div>
                <div class="key black" data-id="34"></div>
                <div class="key" data-id="35"></div>
                <div class="key black" data-id="36"></div>
                <div class="key" data-id="37"></div>
                <div class="key black" data-id="38"></div>
                <div class="key" data-id="39"></div>
                <div class="key" data-id="40"></div>
                <div class="key black" data-id="41"></div>
                <div class="key" data-id="42"></div>
                <div class="key black" data-id="43"></div>
                <div class="key" data-id="44"></div>
                <div class="key" data-id="45"></div>
                <div class="key black" data-id="46"></div>
                <div class="key" data-id="47"></div>
                <div class="key black" data-id="48"></div>
                <div class="key" data-id="49"></div>
                <div class="key black" data-id="A4"></div>
                <div class="key" data-id="B4"></div>
                <div class="key" data-id="C5"></div>
            </div>
        </div>

        <p>Room name: <span id="room"></span></p>
