<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/synth.css">
    <script src="/js/dist/synth.min.js"></script>
  </head>
  <body>
    <div id="synth">
      <div id="oscillator1" class="component">
        <h2>Oscillator 1</h2>
        <select id="osc-1" autocomplete="off">
          <option value="sine">Sine</option>
          <option value="square" selected>Square</option>
          <option value="sawtooth">Sawtooth</option>
          <option value="triangle">Triangle</option>
        </select>
        <p>
          <input id="osc-1-detune" type="range" min="-50" max="50" step="1" value="-6" autocomplete="off" />
          <label for="osc-1-detune">Detune</label>
          <output id="osc-1-detune-output" for="osc-1-detune"></output>
        </p>
      </div>
      <div id="oscillator2" class="component">
          <h2>Oscillator 2</h2>
          <select id="osc-2" autocomplete="off">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="sawtooth" selected>Sawtooth</option>
            <option value="triangle">Triangle</option>
          </select>
          <p>
            <input id="osc-2-detune" type="range" min="-50" max="50" step="1" value="-10" autocomplete="off" />
            <label for="osc-2-detune">Detune</label>
            <output id="osc-2-detune-output" for="osc-2-detune"></output>
          </p>
      </div>
      <div id="filter" class="component">
          <h2>Filter</h2>
          <select id="filter-type">
            <option value="lowpass" selected>Lowpass</option>
            <option value="highpass">Highpass</option>
            <option value="bandpass">Bandpass</option>
            <option value="lowshelf">Lowshelf</option>
            <option value="highshelf">Highshelf</option>
            <option value="peaking">Peaking</option>
            <option value="notch">Notch</option>
            <option value="allpass">All Pass</option>
          </select>
          <p>
            <input id="filter-freq" type="range" min="40" max="12000" step="1" value="12000" autocomplete="off" />
            <label for="filter-freq">Freq</label>
            <output id="filter-freq-output" for="filter-freq"></output>
          </p>
          <p>
            <input id="filter-q" type="range" min="1" max="10" step="0.001" value="1" autocomplete="off" />
            <label for="filter-q">Q</label>
            <output id="filter-q-output" for="filter-q"></output>
          </p>
      </div>
      <div id="envolope" class="component">
        <h2>Envolope</h2>
        <p>
          <input id="env-attack" type="range" min="0" max="2.0" step="0.1" value="0.1" autocomplete="off" />
          <label for="env-attack">Attack</label>
          <output id="env-attack-output" for="env-attack"></output>
        </p>
        <p>
          <input id="env-release" type="range" min="0" max="2.0" step="0.1" value="0.2" autocomplete="off" />
          <label for="env-release">Release</label>
          <output id="env-release-output" for="env-release"></output>
        </p>
      </div>

      <p>Synth ID: <span id="synth-id"></span></p>

      <ul id="keyboard">
        <li class="key" data-id="4" tabindex="-1">
          <span class="black" data-id="5"></span>
        <li>
        <li class="key" data-id="6">
          <span class="black" data-id="7"></span>
        </li>
        <li class="key" data-id="8"></li>
        <li class="key" data-id="9">
          <span class="black" data-id="10"></span>
        </li>
        <li class="key" data-id="11">
          <span class="black" data-id="12"></span>
        </li>
        <li class="key" data-id="13">
          <span class="black" data-id="14"></span>
        </li>
        <li class="key" data-id="15"></li>
        <li class="key" data-id="16">
          <span class="black" data-id="17"></span>
        </li>
        <li class="key" data-id="18">
          <span class="black" data-id="19"></span>
        </li>
        <li class="key" data-id="20"></li>
        <li class="key" data-id="21">
          <span class="black" data-id="22"></span>
        </li>
        <li class="key" data-id="23">
          <span class="black" data-id="24"></span>
        </li>
        <li class="key" data-id="25">
          <span class="black" data-id="26"></span>
        </li>
        <li class="key" data-id="27"></li>
        <li class="key" data-id="28">
          <span class="black" data-id="29"></span>
        </li>
        <li class="key" data-id="30">
          <span class="black" data-id="31"></span>
        </li>
        <li class="key" data-id="32"></li>
        <li class="key" data-id="33">
            <span class="black" data-id="34"></span>
        </li>
        <li class="key" data-id="35">
          <span class="black" data-id="36"></span>
        </li>
        <li class="key" data-id="37">
          <span class="black" data-id="38"></span>
        </li>
        <li class="key" data-id="39"></li>
        <li class="key" data-id="40">
          <span class="black" data-id="41"></span>
        </li>
        <li class="key" data-id="42">
          <span class="black" data-id="43"></span>
        </li>
        <li class="key" data-id="44"></li>
        <li class="key" data-id="45">
          <span class="black" data-id="46"></span>
        </li>
        <li class="key" data-id="47">
          <span class="black" data-id="48"></span>
        </li>
        <li class="key" data-id="49">
          <span class="black" data-id="50"></span>
        </li>
        <li class="key" data-id="51"></li>
        <li class="key" data-id="52">
          <span class="black" data-id="53"></span>
        </li>
        <li class="key" data-id="54">
          <span class="black" data-id="55"></span>
        </li>
        <li class="key" data-id="56"></li>
        <li class="key" data-id="57">
          <span class="black" data-id="58"></span>
        </li>
        <li class="key" data-id="59">
          <span class="black" data-id="60"></span>
        </li>
        <li class="key" data-id="61">
          <span class="black" data-id="62"></span>
        </li>
        <li class="key" data-id="63"></li>
        <li class="key" data-id="64"></li>
      </ul>
    </div>
  </body>
</html>
