html,
body {
    margin: 0;
    padding: 0;
    background: #000;
}

#synth {
    position: relative;
    width: 840px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid black;
}

h1 {
    font-size: 32px;
    margin: 20px 0 0 20px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.synth-id-label {
    position: absolute;
    top: 20px;
    right: 30px;
}

input[type="range"] {
    display: block;
}

.component {
    float: left;
    margin: 0 0 20px 20px;
}

.component label:after {
    content: ": ";
}

#keyboard {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: left;
}

#status {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: capitalize;
}

#indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

#indicator.disconnected {
    background: red;
}

#indicator.connected {
    background: green;
}

.white {
    position: relative;
    float: left;
    width: 28px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
    background: #fff;
    overflow: visible;
    cursor: pointer;
}

.black {
    position: relative;
    float: left;
    width: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 13px;
    border: none;
    background: #000;
    overflow: visible;
    cursor: pointer;
}

.black:after {
    position: absolute;
    top: 0;
    left: -12px;
    right: 12px;
    content: '';
    width: 24px;
    height: 65px;
    background: black;
    z-index: 10;
}

.black.pressed {
    box-shadow: inset 0px -1px 1px rgba(255,255,255,0.4),
                0 1px 0px rgba(0,0,0,0.8),
                0 2px 2px rgba(0,0,0,0.4),
                0 -1px 0px #000;
}
