html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

#synth {
    position: relative;
    width: 840px;
    margin: 20px auto;
    padding: 0 10px;
    background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    border-radius: 6px;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    margin: 20px 0 20px;
    text-transform: uppercase;
}

h2 {
    margin: 0 0 10px;
    font-size: 18px;
    text-transform: uppercase;
}

input[type="range"] {
    display: block;
}

footer {
    padding: 10px 0;
    font-weight: bold;
}

a:link,
a:visited {
    color: #000;
    font-weight: normal;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.component {
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
}

.component label:after {
    content: ": ";
}

#keyboard {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: left;
}

#status {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: capitalize;
}

#indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

#indicator.disconnected {
    background-color: #f00;
}

#indicator.connected {
    background: #34C334;
}

.key {
    position: relative;
    float: left;
    height: 100px;
    line-height: 100px;
    font-size: 0;
    overflow: visible;
    cursor: pointer;
}

.white {
    width: 28px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #eee 0%, #fff 50%);
    background: linear-gradient(to bottom, #eee 0%, #fff 50%);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset,
                0 0 3px #ccc inset,
                0 0 1px rgba(0, 0, 0, 0.2);
}

.black {
    width: 0;
    background: #000;
}

.black:after {
    position: absolute;
    top: 0;
    left: -12px;
    right: 12px;
    content: '';
    width: 24px;
    height: 65px;
    background: -webkit-linear-gradient(45deg, #222 0%,#555 100%);
    background: linear-gradient(45deg, #222 0%,#555 100%);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
                0 -3px 1px 2px rgba(0, 0, 0, 0.6) inset,
                0 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.key.white.pressed {
    background: #eee;
}

.key.black.pressed:after {
    background: #333;
}

#filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

#filter:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 50%;
    background: transparent;
    border-bottom: 1px solid #fff;
}

#filter:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 100%;
    background: transparent;
    border-right: 1px solid #fff;
}
