html,
body {
    margin: 0;
    padding: 0;
    background: #000;
}

#synth {
    position: relative;
    width: 864px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid black;
}

h1 {
    margin: 20px 0 0 20px;
}

.synth-id-label {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
}

input[type="range"] {
    display: block;
}

.component {
    float: left;
    margin: 0 0 20px 20px;
}

.component label:after {
    content: ": ";
}

#keyboard {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: left;
}

.white {
    position: relative;
    float: left;
    width: 16px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
    background: #fff;
    overflow: visible;
    cursor: pointer;
}

.black {
    position: relative;
    float: left;
    width: 16px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
    background: #000;
    overflow: visible;
    cursor: pointer;
}

.black.pressed {
    box-shadow: inset 0px -1px 1px rgba(255,255,255,0.4),
                0 1px 0px rgba(0,0,0,0.8),
                0 2px 2px rgba(0,0,0,0.4),
                0 -1px 0px #000;
}
